*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
    text-align:center;
}
input,label{
    display: block;
    }
    label{
        color:blue;
    }
    input{
        width:100%;
    }
    .submit{
        margin:15px auto 0 auto ;
        width:30%;
        background-color: rgb(233, 17, 136);
        border-radius : 5px;
    }
    /*margin top right bottom left
    margin 25px 50px 75px 100px
    margin:15px auto
    */
    form{
        min-width: 300px;
        max-width: 500px;
        margin:auto;
        border: 2px solid black;
        padding:20px;
    }

 .g-recaptcha
{
  margin-top: 15px;
  display :flex;
justify-content: center;
}
